<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Report</title>
</head>
<body>
    <p>
        Hello user, we hope you are doing good.
        <br>
        We have attached your monthly report in this
        email. It contains a brief overview of the 
        trackers you created last month. Also it contains
        all the logged values of last month.
        <br>
        Best Regards
        Team QuantifiedSelf
    </p>
</body>
</html>